@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --color0: #5c246c;
    --color1: #220052;
    --color2: #5106ac;
    --color3: #6205d2;
    --color4: #7507fa;
    --color5: #a576ff;
    --color6: #c1a7ff;
    --color7: #dbceff;
    --color8: #f4f1ff;
}

.nunito {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ece4f0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#content {
    display: none;
}

.logo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-icon {
    margin-top: 10px;
    transition: transform 0.3s ease;
}

.user-icon:hover {
    transform: scale(1.1);
}

.input-field label {
    position: absolute;
    color: var(--color1);
    pointer-events: none;
    background-color: transparent;
    left: 20px;
    transform: translateY(0.6rem);
    transition: all 0.3s ease;
}

.input-field input {
    padding: 10px 15px;
    font-size: .8em;
    border-radius: 8px;
    border: solid 1px var(--color1);
    letter-spacing: 1px;
    width: 100%;
}

.input-field input:focus,
.input-field input:valid {
    outline: none;
    border: solid 1px var(--color1);
}

.input-field input:focus~label,
.input-field input:valid~label {
    transform: translateY(-51%) translateX(-10px) scale(0.8);
    background-color: #fff;
    padding: 0px 5px;
    color: var(--color1);
    font-weight: 500;
    letter-spacing: 1px;
    border: none;
    border-radius: 100px;
}

.note {
    color: #8b8e98;
    text-decoration: underline;
    text-align: center;
    font-size: 12px;
}