<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/frontend/Css/Cable.css" />
    <link rel="shortcut icon" href="/frontend/Resources/Images/icon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>TELECOM | Canales</title>
</head>

<body class="nunito" style="background-color: var(--color8)">
    <div class="position-sticky top-0" id="contNav" style="z-index: 1000"></div>
    <div class="text-center p-4 mt-5">
        <p class="display-6 fw-bold" style="color: var(--color1)">
            ¡Descubre los más de 100 canales que tenemos para ti!
        </p>
    </div>
    <div class="container my-lg-5 my-2">
        <div class="col-12 text-center div-responsivex">
            <ul class="d-flex nav-pills list-unstyled channel-categories" id="tabList" role="tablist"></ul>
        </div>
        <div class="tab-content" id="channelTabContent"></div>
    </div>
    <section class="col-12 p-2">
        <p class="text-center my-4 display-4 color" style="color: var(--color1)">
            ✨ Descubre Nuestros Beneficios ✨
        </p>
        <div class="d-flex flex-wrap justify-content-around">
            <div class="col-10 col-md-6 col-lg-3 p-2">
                <div class="bg-white p-4 rounded" style="
              box-shadow: 0 10px 20px #3a00881a;
              transition: transform 0.3s ease;
              cursor: pointer;
            " onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
                    <div class="beneficio-imagen" style="
                background: linear-gradient(45deg, #220052, #3a0088);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 20px;
                text-align: center;
              ">
                        <i class="bi bi-tv-fill" style="font-size: 3rem; color: white"></i>
                    </div>
                    <h3 style="
                color: #3a0088;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
              ">
                        Programación HD
                    </h3>
                    <p style="color: #666; line-height: 1.6; font-size: 1rem">
                        Disfruta de una experiencia visual excepcional con nuestra
                        programación en alta definición. ¡Cada detalle cobra vida!
                    </p>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 p-2">
                <div class="bg-white p-4 rounded" style="
              box-shadow: 0 10px 20px #3a00881a;
              transition: transform 0.3s ease;
              cursor: pointer;
            " onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
                    <div class="beneficio-imagen" style="
                background: linear-gradient(45deg, #220052, #3a0088);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 20px;
                text-align: center;
              ">
                        <i class="bi bi-piggy-bank-fill" style="font-size: 3rem; color: white"></i>
                    </div>
                    <h3 style="
                color: #3a0088;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
              ">
                        Super Económico
                    </h3>
                    <p style="color: #666; line-height: 1.6; font-size: 1rem">
                        ¡Más entretenimiento por menos! Planes accesibles que se ajustan
                        perfectamente a tu presupuesto. 💰
                    </p>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 p-2">
                <div class="bg-white p-4 rounded" style="
              box-shadow: 0 10px 20px #3a00881a;
              transition: transform 0.3s ease;
              cursor: pointer;
            " onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
                    <div class="beneficio-imagen" style="
                background: linear-gradient(45deg, #220052, #3a0088);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 20px;
                text-align: center;
              ">
                        <i class="bi bi-calendar-check-fill" style="font-size: 3rem; color: white"></i>
                    </div>
                    <h3 style="
                color: #3a0088;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
              ">
                        Pago Adelantado
                    </h3>
                    <p style="color: #666; line-height: 1.6; font-size: 1rem">
                        ¡Adelanta y ahorra! Obtén descuentos especiales al realizar tus
                        pagos por adelantado. 🎉
                    </p>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-3 p-2">
                <div class="bg-white p-4 rounded" style="
              box-shadow: 0 10px 20px #3a00881a;
              transition: transform 0.3s ease;
              cursor: pointer;
            " onmouseover="this.style.transform='translateY(-10px)'" onmouseout="this.style.transform='translateY(0)'">
                    <div class="beneficio-imagen" style="
                background: linear-gradient(45deg, #220052, #3a0088);
                padding: 20px;
                border-radius: 15px;
                margin-bottom: 20px;
                text-align: center;
              ">
                        <i class="bi bi-award-fill" style="font-size: 3rem; color: white"></i>
                    </div>
                    <h3 style="
                color: #3a0088;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 15px;
              ">
                        Experiencia Confiable
                    </h3>
                    <p style="color: #666; line-height: 1.6; font-size: 1rem">
                        Años de experiencia nos respaldan. Tu satisfacción es nuestra
                        prioridad número uno. ⭐
                    </p>
                </div>
            </div>
        </div>
    </section>
    <div id="contFoot"></div>
</body>
<script src="/frontend/Resources/Js/Dependencias.js"></script>
<script src="/frontend/Resources/Js/Elements.js"></script>
<script>
    function loadChannelData() {
        fetch("/frontend/Resources/Canales.json")
            .then((response) => {
                if (!response.ok) {
                    throw new Error(
                        "Error al cargar el archivo JSON: " + response.statusText
                    );
                }
                return response.json();
            })
            .then((data) => {
                console.log("Datos cargados:", data);
                if (!data.categories || data.categories.length === 0) {
                    console.error("No se encontraron categorías en el JSON");
                    return;
                }

                const tabList = document.getElementById("tabList");
                const tabContent = document.getElementById("channelTabContent");

                data.categories.forEach((category, index) => {
                    const tabItem = document.createElement("li");
                    tabItem.classList.add("tab-item");
                    tabItem.setAttribute("role", "presentation");

                    const tabButton = document.createElement("button");
                    tabButton.classList.add("tab-link");
                    if (index === 0) {
                        tabButton.classList.add("active");
                    }
                    tabButton.setAttribute("id", `tab${category.id}`);
                    tabButton.setAttribute("data-bs-toggle", "pill");
                    tabButton.setAttribute("data-bs-target", `#content${category.id}`);
                    tabButton.setAttribute("type", "button");
                    tabButton.innerHTML = `<i class="bi ${category.icon}"></i><span>${category.name}</span>`;
                    tabItem.appendChild(tabButton);
                    tabList.appendChild(tabItem);

                    const contentDiv = document.createElement("div");
                    contentDiv.classList.add("tab-pane", "fade");
                    if (index === 0) {
                        contentDiv.classList.add("show", "active");
                    }
                    contentDiv.setAttribute("id", `content${category.id}`);
                    contentDiv.setAttribute("role", "tabpanel");
                    contentDiv.setAttribute("aria-labelledby", `tab${category.id}`);

                    const rowDiv = document.createElement("div");
                    rowDiv.classList.add("row-channels", "mt-4");

                    category.channels.forEach((channel) => {
                        const channelElement = createChannelElement(channel);
                        rowDiv.appendChild(channelElement);
                    });

                    contentDiv.appendChild(rowDiv);
                    tabContent.appendChild(contentDiv);
                });
            })
            .catch((error) => {
                console.error("Error al cargar los datos:", error);
            });
    }

    function createChannelElement(channel) {
        const channelContainer = document.createElement("div");
        channelContainer.classList.add("col-6", "col-md-3", "col-lg-2");

        const channelCard = document.createElement("div");
        channelCard.classList.add("channel-card", "rounded", "m-1");

        const logoImg = document.createElement("img");
        logoImg.src = channel.image;
        logoImg.alt = channel.name;
        logoImg.classList.add("channel-logo","img-fluid");


        const infoDiv = document.createElement("div");
        infoDiv.classList.add("channel-info", "mt-1");

        const channelName = document.createElement("p");
        channelName.classList.add("channel-title");
        channelName.textContent = channel.name;

        const channelNumber = document.createElement("span");
        channelNumber.textContent = channel.number;
        channelNumber.classList.add("channel-span");

        infoDiv.appendChild(channelName);
        infoDiv.appendChild(channelNumber);

        channelCard.appendChild(logoImg);
        channelCard.appendChild(infoDiv);

        channelContainer.appendChild(channelCard);

        return channelContainer;
    }

    document.addEventListener("DOMContentLoaded", loadChannelData);
</script>

</html>